@import "../bower_components/foundation/css/normalize.css";
@import "../bower_components/foundation/css/foundation.css";


/*.row.main {
	max-width: 82.5rem;
}*/

#content nav i {
	font-size: 0.8rem;
}

.padl0 {
	padding-left: 0;
}

.padr0 {
	padding-right: 0;
}

.tar {
	text-align: right;
}